.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

table.name-table {
    width: 100%;
    margin-bottom: 20px;
}

table.form-table {
    width: 100%;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
   padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#signupDetails {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}